* {
    padding: 0;
    margin: 0;
}
body {
    background: #c3defc;
}
header {
    position: static;
    background: #6bb8cc;
    border-radius: 30px 30px  0 0;
    padding: 70px 0 0 0;
    text-align: center;
    color: black;
    font-size: 18px;
}
#header-info {
    font-weight: bold;
}
#header-info hr{
    margin: 5px;
}
#menu {
    margin: 20px;
}
#main-left-menu {
    float: left;
}
#autorization {
    float: right;
}
#wrapper {
    position: relative;
    background-image: url("images/bg-garaz.png");
    background-size: 200%;
    background-repeat: repeat-y;
    margin: 30px auto;
    width: 80%;
    border-radius: 30px 30px  0 0;
}
#wrapper header {
    height: 100px;
    display: block;
    background-image: url("images/bg-garaz-header2.png");
    background-repeat: no-repeat;
    /*background-size: contain;*/
    background-size: 120% 520%;
    background-position-x: left;
    background-position-y: top;
    border-bottom: black solid 2px;
}
#left-block {
    width: 20%;
    display: inline-block;
    /*background: chartreuse;*/
    float: left;
    min-width: 90px;
    text-align: center;
    color: #d6d6d6;
    line-height: 2;

}
#left-block a{
    text-decoration: none;
    color: white;
}
#left-block a:hover{
    font-size: 18px;
}
#left-block a:active{
    color:red;
}
#container {
    /*background: cyan;*/
    width: 80%;
    display: inline-block;
    float:right;
    min-height: 500px;
    min-width: 220px;
}
#container h2 {
    text-align: center;
}
#search {
    /*background: #f7ffbc;*/
    text-align: center;
}
#advert-board {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#advert {
    display: block;
    padding: 20px;
    padding-bottom: 60px;
    background: snow;
    position: relative;
    text-align: left;
    margin: 10px;
}

#advert img {
    width: 40%;
    display: block;
    height: 250px;
    margin: 10px;
    float: left;

}

#desc-block {
    display: block;
    background: seashell;
    min-height: 300px;
}
#advert-info {
    display: block;

}
#advert-cost {
    display: block;
}

#advert-characters {
    display: block;
}

#advert-cost span{
    font-weight: bold;
    font-size: 20px;
}
#advert-characters span{
    font-weight: bold;
    font-size: 20px;

}

#content {
    background: white;
    margin: 20px;
    min-height: 500px;
    padding: 20px;
}
#new_advert {
    margin: 3px;
}
#new_advert textarea{
    border: #6bb8cc solid 1px;
    width: 60%;
    height: 75px;
}
#new_advert input{
    border: #6bb8cc solid 1px;
    height: 25px;
    margin-top: 5px;
}
.radio-button {
    margin-left: 20px;
}
#new_advert .submit-button {
    height: 30px;
    background: #6bb8cc;
    color:black;
    font-size: 16px;
    border-radius: 3px;
    margin: 5px 0;
    padding: 0 10px;
}
#new_advert .form-file {
    border: none;
}
footer {
    display: block;
    width: 100%;
    height: 40px;
    clear: both;
    border-top: white solid 1px;
    color:white;
}
.main-menu {
    text-decoration: none;
    margin: 7px;
    color:white;
    font-style: oblique;
    font-size: 19px;
}
.main-menu:hover {
    color: red;
}
.main-menu:visited {
    background: none;
    text-decoration: none;
}
.main-advert {
    display: inline-block;
    background-image: url("images/test.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 8%;
    padding: 20px;
    padding-bottom: 60px;
    margin: 10px;
    text-align: center;
    min-width: 150px;
    min-height: 200px;
}
.main-advert img {
    display: inline-block;
    width: 90%;
    border: black dashed;
}
.main-advert a{
    text-decoration: none;
    color:black;
}
.main-advert a:hover{
    color: red;
}
.main-advert a:visited{
    text-decoration: none;
}

.buy-button {
    padding: 12px 18px;
    background: #01aaff;
    color: #fff;
    border-color: transparent;
    box-sizing: border-box;
    font-size: 20px;
    text-align: center;
    width: 100%;
    font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;
    line-height: 16px;
    border-radius: 3px;
    vertical-align: middle;
    position: relative;
    display: inline-block;
    white-space: nowrap;
    cursor: pointer;
    outline: 0;
}


@media screen and (max-width: 970px) {
    #main-left-menu {
        display: block;
        float: none;
        text-align: center;
    }
    #autorization {
        margin-top: 10px;
        text-align: center;
        display: block;
        float: none;
    }
}


@media screen and (max-width: 710px) {
    #wrapper {
        width: 95%;
    }
    #left-block{
        display: block;
        float: none;
        width: 100%;
    }
    #container {
        display: block;
        float: none;
        min-width: 50px;
        margin: auto;
    }
    #main-left-menu {
        float: none;
    }
    #autorization {
        float: none;
    }
    .main-menu {
        display: block;
        text-align: center;
    }
    .main-advert {
        width: 80%;
        max-width: 240px;
        height: 200%;
        min-height: 200px;
        padding-bottom: 80px;
    }
}


