* {
  padding: 0;
  margin: 0;
  font-family: Helvetica Neue,Helvetica,sans-serif;
}
body {
  background: #c3defc;
}
header {
  position: static;
  background: #6bb8cc;
  border-radius: 30px 30px  0 0;
  padding: 70px 0 0 0;
  text-align: center;
  color: black;
  font-size: 18px;
}
a:active {
  text-decoration: none;
  outline: none;
}
.header-info {
  font-weight: bold;
}
.header-info hr{
  margin: 5px;
}
.wrapper {
  position: relative;
  background-image: url("images/bg-garaz.png");
  background-size: 200%;
  background-repeat: repeat-y;
  margin: 30px auto;
  width: 80%;
  border-radius: 30px 30px  0 0;
}
.wrapper header {
  height: 100px;
  display: block;
  background-image: url("images/bg-garaz-header2.png");
  background-repeat: no-repeat;
  /*background-size: contain;*/
  background-size: 120% 520%;
  background-position-x: left;
  background-position-y: top;
  border-bottom: black solid 2px;
}
.container {
  /*background: cyan;*/
  width: 80%;
  display: inline-block;
  float:right;
  min-height: 500px;
  min-width: 220px;
}
.container h2 {
  text-align: center;
}
.container h3 {
  text-align: center;
}
.menu {
  margin: 20px;
}
.main-left-menu {
  float: left;
}
.autorization {
  float: right;
}
.left-block {
  width: 20%;
  display: inline-block;
  /*background: chartreuse;*/
  float: left;
  min-width: 90px;
  text-align: center;
  color: #d6d6d6;
  line-height: 2;

}
.left-block a{
  text-decoration: none;
  color: white;
}
.left-block a:hover{
  font-size: 18px;
}
.left-block a:active{
  color:red;
}
.search {
  /*background: #f7ffbc;*/
  text-align: center;
}
.search input {
  border: #6bb8cc solid 2px;
  border-radius: 3px;
}
.search-input {
  width: 60%;
  height: 25px;
  vertical-align: top;
  color: black;
  font-size: 17px;
}
.search-button {
  width: 80px;
  height: 30px;
  background: #6bb8cc;
  color: black;
  font-size: 17px;
  margin-left: 7px;
}
.advert-board {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.advert {
  display: block;
  padding: 20px;
  padding-bottom: 60px;
  background: snow;
  position: relative;
  text-align: left;
  margin: 10px;
}

.advert img {
  border: white solid 5px;
  display: inline-block;
  float: left;
  margin-right: 15px ;
  max-height: 200px;

}

.desc-block {
  display: block;
  background: seashell;
  min-height: 300px;
}
.advert-info {
  display: block;

}
.content {
  background: white;
  margin: 20px;
  min-height: 300px;
  padding: 20px;
}
.new_advert {
  margin: 3px;
  display: flex;
  justify-content: center;

}
.new_advert form {
  padding: 15px;
  width: 40%;
  min-width: 300px;
}
.form-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.form-block label {
  text-align: center;
  width: 100%;
  font-size: 20px;
}
.form-block input, textarea, option, select {
  width: 100%;
  height: 40px;
  font-size: 20px;
  border-radius: 5px;

}
.form-block textarea{
  min-width: 100%;
  min-height: 60px;

}
.form-block option {
  text-align: center;
}
.form-block-file input{
  margin-top: 5px;
}
.form-block-radio {
  width: 100%;
}
.form-block-radio-main-label{
  width: 100%;
  font-size: 20px;
  display: flex;
  flex-direction: column;

}
.form-block-radio input {
  margin: 5px 10px 5px 30px;
  width: 20px;
  height: 20px;
}
.submit-button {
  height: 40px;
  background: #01aaff;
  border: none;
  color:white;
  width: 100%;
  font-size: 20px;
  border-radius: 7px;
  margin: 5px 0 0 0;
  padding: 0 10px;
}
.submit-button:hover{
  font-size: 23px;
}
.profile {
  display: block;
  min-height: 250px;
}
.profile img {
  border: white solid 5px;
  display: inline-block;
  float: left;
  margin-right: 15px ;
  max-height: 200px;
}
.profile-info {
  padding: 10px;
}
.profile-other-adverts {
  padding-left: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.profile-details {
  font-size: 18px;
}
.profile-details-answer {
  font-size: 18px;
  font-weight: bold;
}

.enter {
  /*text-align: center;*/
}

.main-advert-information{
  display: block;
}

.main-advert-information span{
  font-weight: bold;
  font-size: 20px;
}
.main-advert-information a {
  color: black;
}
.main-advert-information a:hover {
  color: #01aaff;
}
.login-label {
  height: 40px;
  font-size: 20px;
  line-height: 24px;
  min-height: 40px;
  border-width: 10px;
  border-radius: 10px;
  margin-left: 25%;
  padding: 6px 10px;
  color: #000;
  border-color: #ccc;
}
.login-label input {
  width: 40%;
  margin-left: 25%;
  height: 40px;
  font-size: 20px;
  border-radius: 5px;
}

footer {
  display: block;
  width: 100%;
  height: 40px;
  clear: both;
  border-top: white solid 1px;
  color:white;
}
.main-menu {
  text-decoration: none;
  margin: 7px;
  color:white;
  font-style: oblique;
  font-size: 19px;
}
.main-menu:hover {
  color: red;
}
.main-menu:visited {
  background: none;
  text-decoration: none;
}
.main-advert {
  display: inline-block;
  background-image: url("images/test.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 8%;
  padding: 20px;
  padding-bottom: 60px;
  margin: 10px;
  text-align: center;
  min-width: 150px;
  min-height: 200px;
}
.main-advert img {
  display: inline-block;
  width: 90%;
  border: black dashed;
}
.main-advert a{
  text-decoration: none;
  color:black;
}
.main-advert a:hover{
  color: red;
}
.main-advert a:visited{
  text-decoration: none;
}

.buy-button {
  padding: 12px 18px;
  background: #01aaff;
  color: #fff;
  border-color: transparent;
  box-sizing: border-box;
  font-size: 20px;
  text-align: center;
  width: 100%;
  font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;
  line-height: 16px;
  border-radius: 3px;
  vertical-align: middle;
  position: relative;
  display: inline-block;
  white-space: nowrap;
  cursor: pointer;
  outline: 0;
}
.buy-button:hover{
  font-size: 23px;
}

.enter-button {
  padding: 12px 18px;
  background: #01aaff;
  color: #fff;
  border-color: transparent;
  box-sizing: border-box;
  font-size: 20px;
  text-align: center;
  alignment: center;
  width: 40%;
  margin-left: 25%;
  margin-top: 1%;
  font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;
  line-height: 16px;
  border-radius: 3px;
  vertical-align: middle;
  position: relative;
  display: block;
  white-space: nowrap;
  cursor: pointer;
  outline: 0;
}
.auction{
  border: #01aaff 1px solid;
  padding: 20px;
  margin-bottom: 20px;
}
.auction-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  height: 30px;
  font-size: 20px;
}
.auction a{
  color: black;
}
.auction a:hover{
  color: #01aaff;
}
.auction-price{
  font-size: 23px;
}
.auction-price-input{
  width: 60px;
  height: 40px;
  font-size: 23px;
  text-align: center;
  border: #01aaff 1px solid;
}
.auction-date{
  color: #ff000e;
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  margin: 30px;
}

@media screen and (max-width: 970px) {
  .main-left-menu {
    display: block;
    float: none;
    text-align: center;
  }
  .autorization {
    margin-top: 10px;
    text-align: center;
    display: block;
    float: none;
  }
}


@media screen and (max-width: 710px) {
  .wrapper {
    width: 95%;
  }
  .container {
    display: block;
    float: none;
    min-width: 50px;
    margin: auto;
  }
  .left-block{
    display: block;
    float: none;
    width: 100%;
    min-height: 300px;
  }
  .main-left-menu {
    float: none;
  }
  .autorization {
    float: none;
  }
  .profile img {
    float:none;
  }
  .main-menu {
    display: block;
    text-align: center;
  }
  .main-advert {
    width: 80%;
    max-width: 240px;
    height: 200%;
    min-height: 200px;
    padding-bottom: 80px;
  }
  .enter-button {
    width: 80%;
  }
  .login-label input{
    width: 80%;
  }
  .new_advert form{
    text-align: center;
  }
  .form-block {
    display: block;
    margin: 5px 0;
  }
  .form-block label {
    display: block;
    margin: 5px 0;
  }
  .form-block input, textarea {
    display: block;
    float: right;
    margin: 3px 0 10px 0;
  }
  .form-block-file input{
    display: block;
    margin-bottom: 10px;
  }
  .form-block-radio {
    text-align: left;
  }
  .form-block-radio input{
    margin: 5px 0 0 15px
  }
}


